<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Loja</title>
    <link rel="stylesheet" href="../../../style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <div id="container">
        <div id="sidebar">
            <div id="menu">
                <a href="../../../index.html">
                    <i class="fas fa-home"></i>
                    Home
                </a>
                <a href="../../categoria/view/categoria.html">
                    <i class="fa-solid fa-tag"></i>
                    Categorias
                </a>
                <a href="../../variacao-descricao/view/variacao.html">
                    <i class="fa-solid fa-layer-group"></i>
                    Variações
                </a>
                <a href="#">
                    <i class="fa-solid fa-shop"></i>
                    Minha Loja
                </a>
                <a href="../../Produto/view/produto.html">
                    <i class="fa-solid fa-bag-shopping"></i>
                    Produtos
                </a>
                <button id="btn-logout">
                    <i class="fas fa-sign-out-alt"></i>
                    Sair
                </button>
            </div>
            <div id="menu-icons">
                <img src="https://img.icons8.com/material-outlined/48/ffffff/menu--v1.png" alt="Menu Icon" onclick="toggleSidebar()">
            </div>
        </div>
        <div id="content">
            <h1>Minha Loja</h1>
            <p>Bem-vindo <span id="nome-usuario"></span> ao perfil da sua loja!</p>

            <!-- Seção de Informações da Loja -->
            <div class="loja-info">
                <h2>Informações da Loja</h2>
                <div class="info-item">
                    <p>Nome da Loja:<span id="nome-loja"></span></p>
                </div>
                <div class="info-item">
                    <span>Cor de Fundo:</span>
                    <div id="cor-fundo" class="cor-box"></div>
                </div>
                <div class="info-item">
                    <span>Cor da Fonte:</span>
                    <div id="cor-fonte" class="cor-box"></div>
                </div>
            </div>

            <!-- Botões de Edição -->
            <div class="botoes-edicao">
                <button id="btn-editar-loja">
                    <i class="fas fa-edit"></i>
                    Editar Loja
                </button>
            </div>
        </div>
    </div>

    <script src="../../../assets/js/jquery-3.7.1.min.js"></script>
    <!-- <script src="../controller/selec.js"></script>
    <script src="../controller/information.js"></script> -->
    <script src="../../../script.js"></script>
    <!-- <script src="../../usuario/controller/validateUser.js"></script> -->
    
    
</body>
</html>
